/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <physical_layouts.dtsi>

&lt { quick-tap-ms = <200>; };

/ {
    chosen {
        /delete-property/ zmk,matrix_transform;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Temper";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys
            //                    w    h     x     y    r   rx   ry
            = <&key_physical_attrs 100 100    0   26   0    0    0>
            , <&key_physical_attrs 100 100  100    8   0    0    0>
            , <&key_physical_attrs 100 100  200    0   0    0    0>
            , <&key_physical_attrs 100 100  300    8   0    0    0>
            , <&key_physical_attrs 100 100  400   18   0    0    0>
            , <&key_physical_attrs 100 100  600   18   0    0    0>
            , <&key_physical_attrs 100 100  700    8   0    0    0>
            , <&key_physical_attrs 100 100  800    0   0    0    0>
            , <&key_physical_attrs 100 100  900    8   0    0    0>
            , <&key_physical_attrs 100 100 1000   26   0    0    0>
            , <&key_physical_attrs 100 100    0  126   0    0    0>
            , <&key_physical_attrs 100 100  100  108   0    0    0>
            , <&key_physical_attrs 100 100  200  100   0    0    0>
            , <&key_physical_attrs 100 100  300  108   0    0    0>
            , <&key_physical_attrs 100 100  400  118   0    0    0>
            , <&key_physical_attrs 100 100  600  118   0    0    0>
            , <&key_physical_attrs 100 100  700  108   0    0    0>
            , <&key_physical_attrs 100 100  800  100   0    0    0>
            , <&key_physical_attrs 100 100  900  108   0    0    0>
            , <&key_physical_attrs 100 100 1000  126   0    0    0>
            , <&key_physical_attrs 100 100    0  226   0    0    0>
            , <&key_physical_attrs 100 100  100  208   0    0    0>
            , <&key_physical_attrs 100 100  200  200   0    0    0>
            , <&key_physical_attrs 100 100  300  208   0    0    0>
            , <&key_physical_attrs 100 100  400  218   0    0    0>
            , <&key_physical_attrs 100 100  600  218   0    0    0>
            , <&key_physical_attrs 100 100  700  208   0    0    0>
            , <&key_physical_attrs 100 100  800  200   0    0    0>
            , <&key_physical_attrs 100 100  900  208   0    0    0>
            , <&key_physical_attrs 100 100 1000  226   0    0    0>
            , <&key_physical_attrs 100 100  210  335   0    0    0>
            , <&key_physical_attrs 100 100  320  355   0    0    0>
            , <&key_physical_attrs 100 100  430  375   0    0    0>
            , <&key_physical_attrs 100 100  570  375   0    0    0>
            , <&key_physical_attrs 100 100  680  355   0    0    0>
            , <&key_physical_attrs 100 100  790  335   0    0    0>
            ;
    };

    macros {
        next_wp: next_wp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_GUI &kp LEFT &kt LEFT_GUI>;
            label = "NEXT_WP";
        };

        prev_wp: prev_wp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_GUI &kp RIGHT &kt LEFT_GUI>;
            label = "PREV_WP";
        };

        ch_next_wp: ch_next_wp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_GUI &kp LEFT_SHIFT &kp LEFT &kt LEFT_GUI>;
            label = "CH_NEXT_WP";
        };

        ch_prev_wp: ch_prev_wp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_GUI &kp LEFT_SHIFT &kp RIGHT &kt LEFT_GUI>;
            label = "CH_PREV_WP";
        };
    };

    behaviors {
        rpi: require_prior_idle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        mpi: mac_require_prior_idle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&trans>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        linux {
            display-name = "Linux";
            bindings = <
&kp Q            &kp W            &kp E         &kp R              &kp T        &kp Y         &kp U              &kp I                &kp O            &kp P
&rpi LCTRL A     &rpi LEFT_ALT S  &rpi LEFT_GUI D  &rpi LEFT_SHIFT F  &kp G        &kp H         &rpi LEFT_SHIFT J  &rpi LEFT_GUI K  &rpi LEFT_ALT L  &rpi LEFT_CONTROL SEMI
&kp Z            &kp X            &kp C         &kp V              &kp B        &kp N         &kp M              &kp COMMA            &kp DOT          &kp FSLH
                                  &lt 3 ESC     &lt 1 SPACE        &lt 2 TAB    &lt 5 RETURN  &lt 4 BACKSPACE    &lt 6 DELETE
            >;
        };

        arrows {
            display-name = "Arrows";
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans    &trans         &trans       &trans     &trans
&trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans
                &trans  &trans  &trans    &kp RET   &kp BSPC       &kp DEL
            >;
        };

        mouse {
            display-name = "Mouse & BT";
            bindings = <
&trans  &trans        &trans        &trans        &to 7           &trans           &trans           &trans        &trans           &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans
&bt BT_CLR      &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans
                              &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        sound {
            display-name = "Sound";
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans             &trans          &kp DQT      &kp TILDE
&trans  &trans  &trans  &trans  &trans    &trans  &kp C_VOLUME_UP    &kp C_NEXT      &kp SQT      &kp CARET
&trans  &trans  &trans  &trans  &trans    &trans  &kp C_VOLUME_DOWN  &kp C_PREVIOUS  &trans       &kp GRAVE
                &trans  &trans  &trans    &kp C_STOP   &kp C_PLAY_PAUSE   &kp C_MUTE
            >;
        };

        number {
            display-name = "Numbers";
            bindings = <
&kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &trans  &trans  &trans  &trans  &trans
&kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &trans  &trans  &trans  &trans  &trans
&kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &trans  &trans  &trans  &trans  &trans
                   &kp DOT  &kp N0  &kp MINUS    &trans  &trans  &trans
            >;
        };

        symbol {
            display-name = "Symbols";
            bindings = <
&kp LS(LEFT_BRACKET)  &kp LS(N7)        &kp LS(N8)        &kp PERIOD        &kp LS(RBKT)                &trans  &trans  &trans  &trans  &trans
&kp LS(COLON)         &kp LS(NUMBER_4)  &kp LS(N5)        &kp LS(NUMBER_6)  &kp LS(PLUS)                &trans  &trans  &trans  &trans  &trans
&kp LS(GRAVE)         &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NON_US_BACKSLASH)    &trans  &trans  &trans  &trans  &trans
                                        &kp LS(N9)        &kp LS(N0)        &kp LS(MINUS)               &trans  &trans  &trans
            >;
        };

        f {
            display-name = "F";
            bindings = <
&kp F12  &kp F7  &kp F8   &kp F9     &kp PRINTSCREEN    &trans  &trans  &trans  &trans  &trans
&kp F11  &kp F4  &kp F5   &kp F6     &trans             &trans  &trans  &trans  &trans  &trans
&kp F10  &kp F1  &kp F2   &kp F3     &trans             &trans  &trans  &trans  &trans  &trans
                 &kp ESC  &kp SPACE  &kp TAB            &trans  &trans  &trans
            >;
        };

        gaming {
            display-name = "Gaming";
            bindings = <
&kp Q  &kp W     &kp E      &kp R         &kp T       &kp Y          &kp U       &kp I      &kp O    &kp P
&kp A  &kp S     &kp D      &kp F         &kp G       &kp H          &kp J       &kp K      &kp L    &kp SEMI
&kp Z  &kp X     &kp C      &kp V         &kp B       &kp N          &kp M       &kp COMMA  &kp DOT  &kp FSLH
                 &kp ESC    &kp SPACE     &kp TAB     &kp RETURN     &kp BACKSPACE       &kp DELETE
            >;
        };
    };
};
